<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.TeacherMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.entity.Teacher" >
    <id column="sysid" property="sysid" jdbcType="VARCHAR" />
    <result column="teacherId" property="teacherid" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    sysid, teacherId, password
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from teacher
    where sysid = #{sysid,jdbcType=VARCHAR}
  </select>
  <select id="selectByTeacherId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from teacher
    where teacherId = #{teacherId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from teacher
    where sysid = #{sysid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.demo.entity.Teacher" >
    insert into teacher (sysid, teacherId, password
      )
    values (#{sysid,jdbcType=VARCHAR}, #{teacherid,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.entity.Teacher" >
    insert into teacher
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sysid != null" >
        sysid,
      </if>
      <if test="teacherid != null" >
        teacherId,
      </if>
      <if test="password != null" >
        password,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sysid != null" >
        #{sysid,jdbcType=VARCHAR},
      </if>
      <if test="teacherid != null" >
        #{teacherid,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.entity.Teacher" >
    update teacher
    <set >
      <if test="teacherid != null" >
        teacherId = #{teacherid,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
    </set>
    where sysid = #{sysid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.entity.Teacher" >
    update teacher
    set teacherId = #{teacherid,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR}
    where sysid = #{sysid,jdbcType=VARCHAR}
  </update>
</mapper>